body {
    background-color: gray;
}

.title1 {
    color: white;
    margin-top: 20px;
    text-align: center;
}

.title2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.title3 {
    color: white;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.startingDiv {
    background-color: dimgray;
    text-align: center;
    margin: 100px
    
}

.icon {
    background-color: gray;
    box-shadow: none;
    margin: 10px;
}

.iconX {
    color: yellow;
    margin: auto
}

.iconO {
    color: blue;
    margin: auto
}
.rowTop {
    height: 150px;
    border-bottom: solid;
    width: 60%;

}
.rowCenter {
    height: 150px;
    width: 60%;
}
.rowBottom {
    height: 150px;
    border-top: solid;
    width: 60%;
}
.colLeft {
   
    border-right: solid;
}
.colRight {

    border-left: solid;
}
